{% extends '::layout.html.twig' %}

{% block page_content %}

    <h1>Discussion publique : {{ discussion.title }}</h1>

    Abstract : {{ discussion.abstract }}<br>
    Date de création : {{ discussion.creationDate|date('d/m/Y') }}<br>
    Date de dernière modification : {{ discussion.lastEditDate|date('d/m/Y') }}<br>

    {% if discussion.themeDiscussion %}
        Discussion publique sur la thématique : <a href="{{ path('theme_show', {'slug': discussion.theme.slug}) }}">{{ discussion.theme.title }}</a><br>
    {% elseif discussion.proposalDiscussion %}
        Discussion publique sur la proposition : <a href="{{ path('proposal_show', {'slug': discussion.proposal.slug}) }}">{{ discussion.proposal.title }}</a><br>
    {% elseif discussion.globalDiscussion %}
        Discussion publique globale<br>
    {% endif %}

    {% if discussion.locked %}
        Discussion fermée !<br>
    {% else %}
        Discussion ouverte !<br>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        {% if is_granted('follow', discussion) %}
            Vous suivez cette discussion.<br>
            <a href="{{ path('public_discussion_stop_following', {'slug': discussion.slug}) }}">Ne plus suivre cette discussion</a><br>
        {% else %}
            <a href="{{ path('public_discussion_follow', {'slug': discussion.slug}) }}">Suivre la discussion</a><br>
        {% endif %}
    {% endif %}

    <h2>Followers</h2>
    {% for follower in discussion.followers %}
        {{ follower.username }}<br>
    {% else %}
        Pas de follower !<br>
    {% endfor %}

    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#discussion">Discussion</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a data-toggle="tab" href="#administration">Administration</a></li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div id="discussion" class="tab-pane fade in active">
                {% for post in discussion.posts %}
                    {{ post.author }}
                    {{ post.id }}
                    {% if is_granted('ROLE_ADMIN') %}
                        {{ post.date|date('d/m/Y') }}
                        <a href="{{ path('post_move', {'id': post.id}) }}">Déplacer ce commentaire</a><br>
                        <a href="{{ path('post_delete', {'id': post.id}) }}">Supprimer ce commentaire</a><br>
                    {% else %}
                        {{ post.date|date('d/m/Y') }}<br>
                    {% endif %}
                    {{ post.content }}<br>
                {% else %}
                    La discussion n'a pas encore débuté !<br>
                {% endfor %}

                {% if form is defined %}
                    {{ form(form) }}
                {% endif %}
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div id="administration" class="tab-pane fade">
                    <a href="{{ path('public_discussion_edit', {'slug': discussion.slug}) }}">Éditer la discussion</a><br>
                    {% if discussion.globalDiscussion %}
                        <a href="{{ path('public_discussion_move_to_theme', {'slug': discussion.slug}) }}">Déplacer la discussion vers une thématique</a><br>
                        <a href="{{ path('public_discussion_move_to_proposal', {'slug': discussion.slug}) }}">Déplacer la discussion vers une proposition</a><br>
                    {% elseif discussion.themeDiscussion %}
                        <a href="{{ path('public_discussion_move_to_global', {'slug': discussion.slug}) }}">Déplacer vers les discussions globales</a><br>
                        <a href="{{ path('public_discussion_move_to_proposal', {'slug': discussion.slug}) }}">Déplacer la discussion vers une proposition</a><br>
                    {% elseif discussion.proposalDiscussion %}
                        <a href="{{ path('public_discussion_move_to_global', {'slug': discussion.slug}) }}">Déplacer vers les discussions globales</a><br>
                        <a href="{{ path('public_discussion_move_to_theme', {'slug': discussion.slug}) }}">Déplacer la discussion vers une thématique</a><br>
                    {% endif %}
                    {% if discussion.locked %}
                        <a href="{{ path('public_discussion_unlock', {'slug': discussion.slug}) }}">Dévérouiller la discussion</a><br>
                    {% else %}
                        <a href="{{ path('public_discussion_lock', {'slug': discussion.slug}) }}">Vérouiller la discussion</a><br>
                    {% endif %}
                    <a href="{{ path('public_discussion_delete', {'slug': discussion.slug}) }}">Supprimer la discussion</a><br>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock page_content %}
