{% extends '::layout.html.twig' %}

{% block page_content %}

    <h1>{{ message.title }}</h1>

    <h2>Date</h2>
        {{ message.sendDate|date('d/m/Y') }}

    <h2>Auteur</h2>
        {{ message.sender.username }}

    <h2>Destinataire(s)</h2>
        {% for addressee in message.addressees %}
            {{ addressee.username }}
        {% endfor %}

    <h2>Contenu</h2>
        {{ message.content }}

    <br><br><a href="{{ path('message_reply', {'slug': message.slug}) }}">Répondre</a>
{% endblock page_content %}