{% extends 'Article/layout_article.html.twig' %}

{% block page_content %}
    <div class="section-menu row">
        <ul>
            <li class="active"><a data-toggle="tab" href="#content">Texte</a></li>
            <li><a data-toggle="tab" href="#discussions">Salon</a></li>
            <li><a data-toggle="tab" href="#versioning">Historique</a></li>
            {% if is_granted('delete', article) %}
                <li><a data-toggle="tab" href="#suppression">Suppression</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="tab-content">
        <div id="content" class="tab-pane fade in active">
            {% if is_granted('edit', article) %}
                <div class="col-md-3 col-md-offset-9">
                    <a href="{{ path('article_edit', {'slug': article.slug}) }}" class="btn btn-default custom-btn">Modifier l'article</a>
                </div>
            {% endif %}
            <div class="article-content">
                {{ article.content | markdown }}
            </div>
            <div class="article-motivation">
                <h4>Motifs</h4>
                {{ article.motivation | markdown }}
            </div>
        </div>
        <div id="discussions" class="tab-pane fade">
            <div class="col-md-3 col-md-offset-9">
                <a href="{{ path('public_discussion_add_to_article', {'slug': article.slug}) }}" class="btn btn-default custom-btn">Ouvrir une discussion</a>
            </div>
            <table class="table">
                {% if not article.discussions is empty %}
                    <thead>
                        <tr>
                            <th>Discussion</th>
                            <th>Dernier commentaire</th>
                        </tr>
                    </thead>
                {% endif %}
                <tbody>
                {% for discussion in article.discussions %}
                    <tr>
                        <td><a href="{{ path('public_discussion_show', {'slug': discussion.slug}) }}" class="table-link">{{ discussion.title }}</a></td>
                        {% if discussion.posts is empty %}
                            <td></td>
                        {% else %}
                            <td>{{ discussion.lastPost.date|date('d/m/Y à  H:i')}} par {{ discussion.lastPost.author.username }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="versioning" class="tab-pane fade">
            <div class="subsection-content col-md-10 col-xs-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Version</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for articleVersion in article.versioning %}
                            <tr>
                                <td><a href="{{ path('article_version_show', {'slug': articleVersion.slug}) }}" class="table-link">Version {{ articleVersion.versionNumber }}</a></td>
                                <td>{{ articleVersion.snapDate|date('d/m/Y à  H:i')}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2 col-xs-2">
                Date de création : {{ article.creationDate|date('d/m/Y') }}<br><br>
                Date de dernière modification : {{ article.lastEditDate|date('d/m/Y') }}<br><br>
                Version actuelle : {{ article.versionNumber }}
            </div>
        </div>
        {% if is_granted('delete', article) %}
            <div id="suppression" class="tab-pane fade">
                <div class="col-md-3 col-md-offset-9">
                    <a href="{{ path('article_delete', {'slug': article.slug}) }}" class="btn btn-default custom-admin-btn">Supprimer l'article</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock page_content %}
