{% extends 'Article/layout_article.html.twig' %}

{% block page_content %}
    {% if is_granted('locked', article) %}
        <div class="center">
            CET ARTICLE EST FERMÉ
        </div>
    {% endif %}
    <div class="section-menu row">
        <ul>
            <li><a href="{{ path('article_show', {'slug': article.slug}) }}">Texte</a></li>
            <li><a href="{{ path('article_show_discussions', {'slug': article.slug}) }}">Salon</a></li>
            <li><a href="{{ path('article_show_versioning', {'slug': article.slug}) }}">Historique</a></li>
            {% if is_granted('published', article) and is_granted('user_can_lock', article) %}
                <li class="active"><a href="{{ path('article_show_administration', {'slug': article.slug}) }}">Administration</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="tab-content">
        {% if is_granted('published', article) and is_granted('user_can_lock', article) %}
            <div class="col-md-3 col-md-offset-9">
                <a href="{{ path('article_lock', {'slug': article.slug}) }}" class="btn btn-default custom-admin-btn">Retirer l'article</a>
            </div>
        {% endif %}
    </div>
{% endblock page_content %}
