{% extends '::layout.html.twig' %}

{% block page_content %}

<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <h1>Modifier mon email</h1>

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}
            <div class="form-group row">
                {{ form_label(form.currentPassword, 'Mot de passe actuel', {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                {{ form_errors(form.currentPassword) }}
                <div class="col-sm-7">
                    {{ form_widget(form.currentPassword, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(form.email, 'Email', {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                {{ form_errors(form.email) }}
                <div class="col-sm-7">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="col-sm-7 col-sm-offset-4">
                <input type="submit" class="btn btn-default" value="Enregistrer" />
            </div>
        {{ form_end(form) }}

    </div>
</div>

{% endblock page_content %}
