{% extends "Security/layout_profile.html.twig" %}

{% block page_content %}
    <div class="section-menu row">
        <ul>
            <li class="active"><a data-toggle="tab" href="#private_discussions">Messagerie</a></li>
            <li ><a data-toggle="tab" href="#followed_discussions">Discussions suivies</a></li>
            <li ><a data-toggle="tab" href="#proposals">Propositions</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li ><a data-toggle="tab" href="#administration">Administration</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="tab-content">
        <div id="private_discussions" class="tab-pane fade in active">
            <table class="table">
                <thead>
                    <tr>
                        <th>Discussion</th>
                        <th>Dernier commentaire</th>
                    </tr>
                </thead>
                <tbody>
                {% for discussion in app.user.privateDiscussions %}
                    {% if is_granted('unreader', discussion) %}
                        <tr class="discussion-unread">
                            <td><a href="{{ path('private_discussion_show', {'slug': discussion.slug}) }}" class="table-link">{{ discussion.title }}</a></td>
                            {% if discussion.posts is empty %}
                                <td></td>
                            {% else %}
                                <td>{{ discussion.lastPost.date|date('d/m/Y à  H:i')}} par {{ discussion.lastPost.author.username }}</td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr>
                            <td><a href="{{ path('private_discussion_show', {'slug': discussion.slug}) }}" class="table-link">{{ discussion.title }}</a></td>
                            {% if discussion.posts is empty %}
                                <td></td>
                            {% else %}
                                <td>{{ discussion.lastPost.date|date('d/m/Y à  H:i')}} par {{ discussion.lastPost.author.username }}</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="followed_discussions" class="tab-pane fade">
            <table class="table">
                <thead>
                    <tr>
                        <th>Discussion</th>
                        <th>Dernier commentaire</th>
                    </tr>
                </thead>
                <tbody>
                {% for discussion in app.user.followedDiscussions %}
                    {% if is_granted('unreader', discussion) %}
                        <tr class="discussion-unread">
                            <td><a href="{{ path('public_discussion_show', {'slug': discussion.slug}) }}" class="table-link">{{ discussion.title }}</a></td>
                            {% if discussion.posts is empty %}
                                <td></td>
                            {% else %}
                                <td>{{ discussion.lastPost.date|date('d/m/Y à  H:i')}}</td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr>
                            <td><a href="{{ path('public_discussion_show', {'slug': discussion.slug}) }}" class="table-link">{{ discussion.title }}</a></td>
                            {% if discussion.posts is empty %}
                                <td></td>
                            {% else %}
                                <td>{{ discussion.lastPost.date|date('d/m/Y à  H:i')}}</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="proposals" class="tab-pane fade subsection-content col-md-10 col-xs-10">
            <div class="subsection-block row">
                <h2>Mes propositions</h2>
                {% for proposal in app.user.proposals %}
                    <a href="{{ path('proposal_show_motivation', {'slug': proposal.slug}) }}" class="subsection-panel col-md-12 col-xs-12">
                        <div class="subsection-panel-heading">
                            <div class="subsection-panel-title">{{ proposal.title }}</div>
                        </div>
                        <div class="subsection-panel-body">{{ proposal.abstract }}</div>
                    </a>
                {% else %}
                    <p>Pas de proposition personnelle</p>
                {% endfor %}
            </div>
            <div class="subsection-block row">
                <h2>Propositions soutenues</h2>
                {% for proposal in app.user.supportedProposals %}
                    <a href="{{ path('proposal_show_motivation', {'slug': proposal.slug}) }}" class="subsection-panel col-md-12 col-xs-12">
                        <div class="subsection-panel-heading">
                            <div class="subsection-panel-title">{{ proposal.title }}</div>
                        </div>
                        <div class="subsection-panel-body">{{ proposal.abstract }}</div>
                    </a>
                {% else %}
                    <p>Pas de proposition supportée</p>
                {% endfor %}
            </div>
            <div class="subsection-block row">
                <h2>Propositions contestées</h2>
                {% for proposal in app.user.opposedProposals %}
                    <a href="{{ path('proposal_show_motivation', {'slug': proposal.slug}) }}" class="subsection-panel col-md-12 col-xs-12">
                        <div class="subsection-panel-heading">
                            <div class="subsection-panel-title">{{ proposal.title }}</div>
                        </div>
                        <div class="subsection-panel-body">{{ proposal.abstract }}</div>
                    </a>
                {% else %}
                    <p>Pas de proposition contestée</p>
                {% endfor %}
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div id="administration" class="tab-pane fade">
                <div class="subsection-block row">
                    <h2>Statistiques</h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Nombre d'utilisateurs</td>
                                <td>{{ number_of_users }}</td>
                            </tr>
                            <tr>
                                <td>Nombre de thématiques</td>
                                <td>{{ number_of_themes }}</td>
                            </tr>
                            <tr>
                                <td>Nombre de propositions</td>
                                <td>{{ number_of_proposals }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <h2>Utilisateurs</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>email</th>
                                <th>Date d'inscription</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.registrationDate|date('d/m/Y à  H:i')}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock page_content %}
