{% extends "::layout.html.twig" %}

{% block content %}
    {% block page_content %}
        <h1>{{ user.username }}</h1>

        {% if user.webPath is empty %}
            <img src="{{ asset('img/defaultProfile128.png') }}" class="marginAuto">
        {% else %}
            <img src="{{ asset(user.webPath) }}" class="marginAuto">
        {% endif %}

        <a href="{{ path('avatar_edit') }}" class="btn btn-default">Modifier mon avatar</a>

        <ul>
            <li>Pseudo: {{ user.username }}</li>
            <li>Email: {{ user.email }}</li>
        </ul>

        <a href="{{ path('email_edit') }}" class="btn btn-default">Modifier mon email</a>
        <a href="{{ path('password_edit') }}" class="btn btn-default">Modifier mon mot de passe</a>

        <h3>Mes propositions publiées (auteur principal)</h3>

        {% if app.user.mainProposals|length > 0 %}
            {% for proposal in app.user.mainProposals %}
                <a href="{{ path('proposal_show', {'slug': proposal.slug}) }}">{{ proposal.title }}</a><br>
            {% endfor %}
        {% else %}
            <p>Vous n'avez pas publié de proposition</p>
        {% endif %}

        <h3>Mes brouillons de propositions (auteur principal)</h3>

        {% if app.user.mainProposalDrafts|length > 0 %}
            {% for proposalDraft in app.user.mainProposalDrafts %}
                <a href="{{ path('proposaldraft_show', {'slug': proposalDraft.slug}) }}">{{ proposalDraft.title }}</a><br>
            {% endfor %}
        {% else %}
            <p>Vous n'avez pas de brouillon de proposition</p>
        {% endif %}

        <h3>Les propositions publiées dont je suis auteur secondaire</h3>

        {% if app.user.sideProposals|length > 0 %}
            {% for proposal in app.user.sideProposals %}
                <a href="{{ path('proposal_show', {'slug': proposal.slug}) }}">{{ proposal.title }}</a><br>
            {% endfor %}
        {% else %}
            <p>Il n'y a pas de proposition dont vous êtes auteur secondaire</p>
        {% endif %}

        <h3>Les brouillons de proposition dont je suis auteur secondaire</h3>

        {% if app.user.sideProposalDrafts|length > 0 %}
            {% for proposalDraft in app.user.sideProposalDrafts %}
                <a href="{{ path('proposaldraft_show', {'slug': proposalDraft.slug}) }}">{{ proposalDraft.title }}</a><br>
            {% endfor %}
        {% else %}
            <p>Il n'y a pas de brouillon de proposition dont vous êtes auteur secondaire</p>
        {% endif %}

        <h3>Propositions soutenues</h3>

        {% if app.user.supportedProposals|length > 0 %}
            {% for proposal in app.user.supportedProposals %}
                <a href="{{ path('proposal_show', {'slug': proposal.slug}) }}">{{ proposal.title }}</a><br>
            {% endfor %}
        {% else %}
            <p>Vous ne soutenez aucune proposition !</p>
        {% endif %}

        <h3>Propositions contestées</h3>

        {% if app.user.opposedProposals|length > 0 %}
            {% for proposal in app.user.opposedProposals %}
                <a href="{{ path('proposal_show', {'slug': proposal.slug}) }}">{{ proposal.title }}</a><br>
            {% endfor %}
        {% else %}
            <p>Vous ne contestez aucune proposition !</p>
        {% endif %}

        <h3>Messages reçus non lus</h3>

        {% if not (app.user.unreadMessages is empty) %}
            {% for message in app.user.unreadMessages %}
                <a href="{{ path('message_show', {'slug': message.slug}) }}">{{ message.title }}</a><br>
            {% endfor %}
        {% else %}
            <p>Vous n'avez pas de message non lu !</p>
        {% endif %}

        <h3>Messages reçus lus</h3>

        {% if not (app.user.readMessages is empty) %}
            {% for message in app.user.readMessages %}
                <a href="{{ path('message_show', {'slug': message.slug}) }}">{{ message.title }}</a><br>
            {% endfor %}
        {% else %}
            <p>Vous n'avez pas de message lu !</p>
        {% endif %}

        <h3>Messages envoyés</h3>

        {% if app.user.sentMessages|length > 0 %}
            {% for message in app.user.sentMessages %}
                <a href="{{ path('message_show', {'slug': message.slug}) }}">{{ message.title }}</a><br>
            {% endfor %}
        {% else %}
            <p>Vous n'avez pas envoyé de message !</p>
        {% endif %}
    {% endblock page_content %}
{% endblock content %}