{% extends "::layout.html.twig" %}

{% block content %}
    {% block page_content %}
        <h1>{{ user.username }}</h1>

        {% if user.webPath is empty %}
            <img src="{{ asset('img/defaultProfile128.png') }}" class="marginAuto">
        {% else %}
            <img src="{{ asset(user.webPath) }}" class="marginAuto">
        {% endif %}

        <a href="{{ path('avatar_edit') }}" class="btn btn-default">Modifier mon avatar</a>

        <ul>
            <li>Pseudo: {{ user.username }}</li>
            <li>Email: {{ user.email }}</li>
        </ul>

        <a href="{{ path('email_edit') }}" class="btn btn-default">Modifier mon email</a><br>
        <a href="{{ path('password_edit') }}" class="btn btn-default">Modifier mon mot de passe</a><br><br>

        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#private_discussions">Messagerie</a></li>
                <li ><a data-toggle="tab" href="#followed_discussions">Discussions suivies</a></li>
                <li ><a data-toggle="tab" href="#proposals">Propositions</a></li>
            </ul>
            <div class="tab-content">
                <div id="private_discussions" class="tab-pane fade in active">
                    <h2>Messagerie</h2>
                    {% for discussion in app.user.privateDiscussions %}
                        {% if is_granted('unreader', discussion) %}
                            Non lu<a href="{{ path('private_discussion_show', {'slug': discussion.slug}) }}">{{ discussion.title }}</a><br>
                        {% else %}
                            Lu<a href="{{ path('private_discussion_show', {'slug': discussion.slug}) }}">{{ discussion.title }}</a><br>
                        {% endif %}
                    {% else %}
                        Pas de discussion en cours
                    {% endfor %}
                    <li><a href="{{ path('private_discussion_add') }}" class="btn btn-default">Ouvrir une discussion privée</a></li>
                </div>
                <div id="followed_discussions" class="tab-pane fade">
                    <h2>Discussions suivies</h2>
                    {% for discussion in app.user.followedDiscussions %}
                        {% if is_granted('unreader', discussion) %}
                            Non lu<a href="{{ path('public_discussion_show', {'slug': discussion.slug}) }}">{{ discussion.title }}</a><br>
                        {% else %}
                            Lu<a href="{{ path('public_discussion_show', {'slug': discussion.slug}) }}">{{ discussion.title }}</a><br>
                        {% endif %}
                    {% else %}
                        Pas de discussion suivie. 
                    {% endfor %}
                </div>
                <div id="proposals" class="tab-pane fade">
                    <h2>Propositions publiées</h2>
                    {% for proposal in app.user.mainProposals %}
                        <a href="{{ path('proposal_show', {'slug': proposal.slug}) }}">{{ proposal.title }}</a><br>
                    {% else %}
                        <p>Pas de publication</p>
                    {% endfor %}
                    <h2>Brouillons</h2>
                    {% for draft in app.user.mainProposalDrafts %}
                        <a href="{{ path('proposal_draft_show', {'slug': draft.slug}) }}">{{ draft.title }}</a><br>
                    {% else %}
                        <p>Pas de brouillon</p>
                    {% endfor %}
                    <h2>Propositions supportées</h2>
                    {% for proposal in app.user.supportedProposals %}
                        <a href="{{ path('proposal_show', {'slug': proposal.slug}) }}">{{ proposal.title }}</a><br>
                    {% else %}
                        <p>Pas de proposition supportées</p>
                    {% endfor %}
                    <h2>Propositions contestées</h2>
                    {% for proposal in app.user.opposedProposals %}
                        <a href="{{ path('proposal_show', {'slug': proposal.slug}) }}">{{ proposal.title }}</a><br>
                    {% else %}
                        <p>Pas de proposition contestées</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock page_content %}
{% endblock content %}
