{% extends '::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-md-8 col-md-offset-4">
                    <h1>Inscription</h1>
                </div>
            </div>

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <div class="form-group row">
                    <div class="col-md-8 col-md-offset-4">
                        {{ form_errors(form) }}
                        {{ form_errors(form.username) }}
                        {{ form_errors(form.email) }}
                        {{ form_errors(form.plainPassword.first) }}
                        {{ form_errors(form.plainPassword.second) }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form_label(form.username, 'Username', {'label_attr': {'class': 'control-label col-md-4'}}) }}
                    <div class="col-md-8">
                        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form_label(form.email, 'Email', {'label_attr': {'class': 'control-label col-md-4'}}) }}
                    <div class="col-md-8">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form_label(form.plainPassword.first, 'Password', {'label_attr': {'class': 'control-label col-md-4'}}) }}
                    <div class="col-md-8">
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form_label(form.plainPassword.second, 'Enter the password again', {'label_attr': {'class': 'control-label col-md-4'}}) }}
                    <div class="col-md-8">
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2 col-md-offset-4">
                        {{ form_widget(form.recaptcha) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2 col-md-offset-4">
                        {{ form_widget(form.save, {'label': 'Sign in', 'attr': {'class': 'btn btn-default custom-btn'}}) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
<script src="//www.google.com/recaptcha/api.js?hl=en"></script>
{% endblock content %}
