{% extends "Security/layout_profile.html.twig" %}

{% block page_content %}
    <div class="section-menu row">
        <ul>
            <li class="active"><a href="{{ path('profile_private_discussions') }}">Messagerie</a></li>
            <li ><a href="{{ path('profile_followed_discussions')}}">Discussions</a></li>
            <li ><a href="{{ path('profile_proposals')}}">Propositions</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li ><a href="{{ path('profile_administration')}}">Administration</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="tab-content">
        <div class="col-md-4">
            {% if locked_discussions %}
                <h3>Discussions fermées</h3>
            {% else %}
                <h3>Discussions ouvertes</h3>
            {% endif %}
        </div>
        <div class="btn-group custom-btn-group col-md-1 col-md-offset-11">
            <button class="dropdown-toggle btn btn-default" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down"></span></button>
            <ul class="dropdown-menu pull-left">
                {% if locked_discussions %}
                    <li><a href="{{ path('profile_private_discussions') }}">Voir les discussions ouvertes</a></li>
                {% else %}
                    <li><a href="{{ path('profile_locked_private_discussions') }}">Voir les discussions fermées</a></li>
                {% endif %}
            </ul>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Discussion</th>
                    <th>Dernier commentaire</th>
                </tr>
            </thead>
            <tbody>
            {% for discussion in app.user.privateDiscussions %}
                <!-- If the user has chosen to see locked discussions. -->
                {% if locked_discussions %}
                    {% if discussion.isLocked %}
                        <tr>
                            <td><a href="{{ path('private_discussion_show', {'slug': discussion.slug}) }}" class="table-link">{{ discussion.title }}</a></td>
                            {% if discussion.posts is empty %}
                                <td></td>
                            {% else %}
                                <td>{{ discussion.lastPost.date|date('d/m/Y à  H:i')}}</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                <!-- If the user has chosen to see opened discussions. -->
                {% else %}
                    {% if not discussion.isLocked %}
                        <!-- If the user has not already read the discussion, it is displayed underlined. -->
                        {% if is_granted('unreader', discussion) %}
                            <tr class="discussion-unread">
                                <td><a href="{{ path('private_discussion_show', {'slug': discussion.slug}) }}" class="table-link">{{ discussion.title }}</a></td>
                                {% if discussion.posts is empty %}
                                    <td></td>
                                {% else %}
                                    <td>{{ discussion.lastPost.date|date('d/m/Y à  H:i')}}</td>
                                {% endif %}
                            </tr>
                        <!-- If the user has already read the discussion, it is displayed normally. -->
                        {% else %}
                            <tr>
                                <td><a href="{{ path('private_discussion_show', {'slug': discussion.slug}) }}" class="table-link">{{ discussion.title }}</a></td>
                                {% if discussion.posts is empty %}
                                    <td></td>
                                {% else %}
                                    <td>{{ discussion.lastPost.date|date('d/m/Y à  H:i')}}</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock page_content %}
