{% extends '::layout.html.twig' %}

{% block page_content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <h1>Création d'une racine</h1>
                </div>
            </div>

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <div class="form-group row">
                    <div class="col-md-10 col-md-offset-2">
                        {{ form_errors(form) }}
                        {{ form_errors(form.title) }}
                        {{ form_errors(form.file) }}
                        {{ form_errors(form.abstract) }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form_label(form.title, 'Title', {'label_attr': {'class': 'control-label col-md-2'}}) }}
                    <div class="col-md-10">
                        {{ form_widget(form.title, {'attr': {
                            'class'       : 'form-control',
                            'placeholder' : 'Your title must not exceed 40 characters'
                            }})
                        }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form_label(form.file, 'Image', {'label_attr': {'class': 'control-label col-md-2'}}) }}
                    <div class="col-md-10">
                        <img src="{{ asset('img/defaultTheme_128.png') }}" class="marginAuto">
                        {{ form_widget(form.file) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-10 col-md-offset-2">
                        128*128 px de taille inférieure à 1 Mo en format .png
                    </div>
                </div>
                <div class="form-group row">
                    {{ form_label(form.abstract, 'Abstract', {'label_attr': {'class': 'control-label col-md-2'}}) }}
                    <div class="col-md-10">
                        {{ form_widget(form.abstract, {'attr': {
                            'class': 'form-control form-abstract-textarea',
                            'placeholder' : 'Your abstract must not exceed 400 characters'
                            }})
                        }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2 col-md-offset-2">
                        {{ form_widget(form.save, {'label': 'Save', 'attr': {'class': 'btn btn-default custom-btn'}}) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock page_content %}
