{% extends 'Theme/layout_theme.html.twig' %}

{% block page_content %}
    <div class="section-menu row">
        <ul>
            <li><a href="{{ path('theme_show_proposals', {'slug': theme.slug}) }}">Propositions</a></li>
            <li><a href="{{ path('theme_show_discussions', {'slug': theme.slug}) }}">Salon</a></li>

            <!--
            <li><a href="#">Bibliothèque</a></li>
            <li><a href="#">Débats</a></li>
            -->
            {% if theme.children %}
                <li class="active"><a href="{{ path('theme_show_children', {'slug': theme.slug}) }}">Thématiques filles</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="tab-content">
        <div id="children">
            <div class="subsection-content col-md-10 col-xs-10">
                <div class="row">
                    {% for theme in theme.children %}
                        <div class="root-frame col-md-4 col-xs-6">
                            <a href="{{ path('theme_show_proposals', {'slug': theme.slug}) }}" class="root-link">
                                <div class="root-title row">
                                    <div>{{ theme.title }}</div>
                                </div>
                                <div class="row">
                                    {% if theme.webPath is empty %}
                                        <img src="{{ asset('img/defaultTheme_128.png') }}" class="img-responsive custom-img">
                                    {% else %}
                                        <img src="{{ asset(theme.webPath) }}" class="img-responsive custom-img">
                                    {% endif %}
                                </div>
                            </a>
                            {% if not theme.children is empty %}
                                <div class="btn-group root-btn-group">
                                    <button class="dropdown-toggle root-dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down"></span></button>
                                    <ul class="dropdown-menu root-dropdown-menu">
                                        {% for child in theme.children %}
                                            <li><a href="{{ path('theme_show_proposals', {'slug': child.slug}) }}">{{ child.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
