{% extends 'Theme/layout_theme.html.twig' %}

{% block page_content %}
    <div class="section-menu row">
        <ul>
            <li><a href="{{ path('theme_show_proposals', {'slug': theme.slug}) }}">Propositions</a></li>
            <li class="active"><a href="{{ path('theme_show_discussions', {'slug': theme.slug}) }}">Salon</a></li>

            <!--
            <li><a href="#">Bibliothèque</a></li>
            <li><a href="#">Débats</a></li>
            -->
            {% if not theme.children is empty %}
                <li><a href="{{ path('theme_show_children', {'slug': theme.slug}) }}">Thématiques filles</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="tab-content">
        <div class="col-md-3 col-md-offset-7">
            <a href="{{ path('public_discussion_add_to_theme', {'slug': theme.slug}) }}" class="btn btn-default custom-btn">Ouvrir une discussion</a>
        </div>
        <div class="btn-group custom-btn-group ">
            <button class="dropdown-toggle btn btn-default" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down"></span></button>
            <ul class="dropdown-menu pull-right">
                {% if locked_discussions %}
                    <li><a href="{{ path('theme_show_discussions', {'slug': theme.slug}) }}">Voir les discussions ouvertes</a></li>
                {% else %}
                    <li><a href="{{ path('theme_show_locked_discussions', {'slug': theme.slug}) }}">Voir les discussions fermées</a></li>
                {% endif %}
            </ul>
        </div>
        <table class="table">
            {% if not theme.discussions is empty %}
                <thead>
                    <tr>
                        <th>Discussion</th>
                        <th>Dernier commentaire</th>
                    </tr>
                </thead>
            {% endif %}
            <tbody>
                {% for discussion in theme.discussions %}
                    {% if locked_discussions %}
                        {% if is_granted('locked', discussion) %}
                            <tr>
                                <td><a href="{{ path('public_discussion_show', {'slug': discussion.slug}) }}" class="table-link">{{ discussion.title }}</a></td>
                                {% if discussion.posts is empty %}
                                    <td></td>
                                {% else %}
                                    <td>{{ discussion.lastPost.date|date('d/m/Y à  H:i')}} par {{ discussion.lastPost.author.username }}</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% else %}
                        {% if is_granted('published', discussion) %}
                            <tr>
                                <td><a href="{{ path('public_discussion_show', {'slug': discussion.slug}) }}" class="table-link">{{ discussion.title }}</a></td>
                                {% if discussion.posts is empty %}
                                    <td></td>
                                {% else %}
                                    <td>{{ discussion.lastPost.date|date('d/m/Y à  H:i')}} par {{ discussion.lastPost.author.username }}</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock page_content %}
