{% extends '::layout.html.twig' %}

{% block content %}
    <div class="section-header row">
        <div class="section-path row">
            {% if discussion.type == 'global_discussion' %}
                <ul>
                    <li><a href="{{ path('global_room') }}">Grand salon</a></li>
                    <li>></li>
                    <li><a href="{{ path('public_discussion_show', {'slug': discussion.slug}) }}">{{ discussion.title }}</a></li>
                </ul>
            {% elseif discussion.type == 'theme_discussion' %}
                <ul>
                    <li><a href="{{ path('roots') }}">Arbre</a></li>
                    {% for parent in discussion.theme.parents %}
                        <li>></li>
                        <li><a href="{{ path('theme_show_proposals', {'slug': parent.slug}) }}">{{ parent.title }}</a></li>
                    {% endfor %}
                    <li>></li>
                    <li><a href="{{ path('theme_show_proposals', {'slug': discussion.theme.slug}) }}">{{ discussion.theme.title }}</a></li>
                    <li>></li>
                    <li><a href="{{ path('public_discussion_show', {'slug': discussion.slug}) }}">{{ discussion.title }}</a></li>
                </ul>
            {% elseif discussion.type == 'proposal_discussion' %}
                <ul>
                    <li><a href="{{ path('roots') }}">Arbre</a></li>
                    {% for parent in discussion.proposal.theme.parents %}
                        <li>></li>
                        <li><a href="{{ path('theme_show_proposals', {'slug': parent.slug}) }}">{{ parent.title }}</a></li>
                    {% endfor %}
                    <li>></li>
                    <li><a href="{{ path('theme_show_proposals', {'slug': discussion.proposal.theme.slug}) }}">{{ discussion.proposal.theme.title }}</a></li>
                    <li>></li>
                    <li><a href="{{ path('proposal_show_motivation', {'slug': discussion.proposal.slug}) }}">{{ discussion.proposal.title }}</a></li>
                    <li>></li>
                    <li><a href="{{ path('public_discussion_show', {'slug': discussion.slug}) }}">{{ discussion.title }}</a></li>
                </ul>
            {% elseif discussion.type == 'article_discussion' %}
                <ul>
                    <li><a href="{{ path('roots') }}">Arbre</a></li>
                    {% for parent in discussion.article.proposal.theme.parents %}
                        <li>></li>
                        <li><a href="{{ path('theme_show_proposals', {'slug': parent.slug}) }}">{{ parent.title }}</a></li>
                    {% endfor %}
                    <li>></li>
                    <li><a href="{{ path('theme_show_proposals', {'slug': discussion.article.proposal.theme.slug}) }}">{{ discussion.article.proposal.theme.title }}</a></li>
                    <li>></li>
                    <li><a href="{{ path('proposal_show_motivation', {'slug': discussion.article.proposal.slug}) }}">{{ discussion.article.proposal.title }}</a></li>
                    <li>></li>
                    <li><a href="{{ path('article_show', {'slug': discussion.article.slug}) }}">article {{ discussion.article.number }}</a></li>
                    <li>></li>
                    <li><a href="{{ path('public_discussion_show', {'slug': discussion.slug}) }}">{{ discussion.title }}</a></li>
                </ul>
            {% endif %}
        </div>
        {% if is_granted('ROLE_USER') %}
            <div class="section-header-menu row col-md-12 col-xs-12">
                <div class="btn-group custom-btn-group ">
                    <button class="dropdown-toggle btn btn-default" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down"></span></button>
                    <ul class="dropdown-menu pull-right">
                        {% if is_granted('follow', discussion) %}
                            <li><a href="{{ path('public_discussion_stop_following', {'slug': discussion.slug}) }}">Ne plus suivre cette discussion</a></li>
                        {% else %}
                            <li><a href="{{ path('public_discussion_follow', {'slug': discussion.slug}) }}">Suivre cette discussion</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="divider"></li>
                            <li><a href="{{ path('public_discussion_edit', {'slug': discussion.slug}) }}">Éditer la discussion</a></li>
                            {% if not discussion.globalDiscussion %}
                                <li><a href="{{ path('public_discussion_move_to_global', {'slug': discussion.slug}) }}">Déplacer vers les discussions globales</a></li>
                            {% endif %}
                            <li><a href="{{ path('public_discussion_move_to_theme', {'slug': discussion.slug}) }}">Déplacer vers une thématique</a></li>
                            <li><a href="{{ path('public_discussion_move_to_proposal', {'slug': discussion.slug}) }}">Déplacer vers une proposition</a></li>
                            <li><a href="{{ path('public_discussion_move_to_article', {'slug': discussion.slug}) }}">Déplacer vers un article</a></li>
                            <li class="divider"></li>
                            {% if discussion.locked %}
                                <li><a href="{{ path('public_discussion_unlock', {'slug': discussion.slug}) }}">Dévérouiller la discussion</a></li>
                            {% else %}
                                <li><a href="{{ path('public_discussion_lock', {'slug': discussion.slug}) }}">Vérouiller la discussion</a></li>
                            {% endif %}
                            <li><a href="{{ path('public_discussion_delete', {'slug': discussion.slug}) }}">Supprimer la discussion</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="section-header-title col-md-6 col-xs-6">
            <h1>{{ discussion.title }}</h1>
        </div>
    </div>

    {% block page_content %}{% endblock page_content %}
{% endblock content %}
