{% extends '::layout.html.twig' %}

{% block content %}
    <div class="section-header row">
        <div class="section-path row">
            <ul>
                <li><a href="{{ path('roots') }}">Arbre</a></li>
                {% for parent in proposalVersion.recordedProposal.theme.parents %}
                    <li>></li>
                    <li><a href="{{ path('theme_show_proposals', {'slug': parent.slug}) }}">{{ parent.title }}</a></li>
                {% endfor %}
                <li>></li>
                <li><a href="{{ path('theme_show_proposals', {'slug': proposalVersion.recordedProposal.theme.slug}) }}">{{ proposalVersion.recordedProposal.theme.title }}</a></li>
                <li>></li>
                <li><a href="{{ path('proposal_show_motivation', {'slug': proposalVersion.recordedProposal.slug}) }}">{{ proposalVersion.recordedProposal.title }}</a></li>
            </ul>
        </div>
    </div>
    <div class="proposal-version-change-version-btn">
        {% if not proposalVersion.isFirstVersion %}
            <a href="{{ path('proposal_version_previous_version', {'slug': proposalVersion.slug}) }}" class="btn btn-default">Version précédente</a>
        {% endif %}
        {% if not proposalVersion.isLastVersion %}
            <a href="{{ path('proposal_version_next_version', {'slug': proposalVersion.slug}) }}" class="btn btn-default">Version suivante</a>
        {% endif %}
    </div>
    <div class="section-header row">
        <div class="proposal-header">
            <div>
                classée dans la thématique {{ proposalVersion.themeTitle }}<br>
                <h3>Version {{ proposalVersion.versionNumber }}</h3> archivée le {{ proposalVersion.snapDate|date('d/m/Y') }}
            </div>
            <div class="proposal-title">
                {{ proposalVersion.title }}
            </div>
        </div>
        <div class="section-abstract row">
            <div class="col-md-10 col-md-offset-1">
                {{ proposalVersion.abstract }}
            </div>
        </div>
    </div>

    {% block page_content %}{% endblock page_content %}
{% endblock content %}
