{% extends '::layout.html.twig' %}

{% block page_content %}

    <h1>{{ discussion.title }}</h1>

    Discussion privée<br>
    Abstract : {{ discussion.abstract }}<br>
    Date de création : {{ discussion.creationDate|date('d/m/Y') }}<br>
    Date de dernière modification : {{ discussion.lastEditDate|date('d/m/Y') }}<br>
    Admin : {{ discussion.admin }}<br>

    {% if discussion.locked %}
        Discussion fermée !<br>
    {% else %}
        Discussion ouverte !<br>
    {% endif %}

    <h2>Unreaders</h2>
    {% for unreader in discussion.unreaders %}
        {{ unreader.username }}<br>
    {% else %}
        La discussion n'a pas de unreaders 
    {% endfor %}

    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#discussion">Discussion</a></li>
            <li><a data-toggle="tab" href="#members">Membres</a></li>
            {% if is_granted('edit', discussion) %}
                <li><a data-toggle="tab" href="#administration">Administration</a></li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div id="discussion" class="tab-pane fade in active">
                {% for post in discussion.posts %}
                    {{ post.date|date('d/m/Y') }}<br>
                    {{ post.author }}<br>
                    {{ post.id }}<br>
                    {{ post.content }}<br>
                {% else %}
                    La discussion n'a pas encore débuté !
                {% endfor %}

                {% if form is defined %}
                    {{ form(form) }}
                {% endif %}
            </div>
            <div id="members" class="tab-pane fade">
                {% for member in discussion.members %}
                    {{ member.username }}
                    {% if is_granted('edit', discussion) %}
                        {% if member == discussion.admin %}
                            <a href="{{ path('private_discussion_change_admin', {'slug': discussion.slug}) }}">Changer d'administrateur</a>
                        {% elseif member == app.user %}
                            <a href="{{ path('private_discussion_remove_member', {'slug': discussion.slug}) }}" class="btn btn-default">Me retirer de la discussion</a><br>
                        {% else %}
                            <a href="{{ path('private_discussion_remove_member', {'discussionSlug': discussion.slug, 'memberId': member.id}) }}">Éjecter de la discussion</a>
                        {% endif %}
                    {% elseif member == app.user %}
                        <a href="{{ path('private_discussion_remove_member', {'discussionSlug': discussion.slug, 'memberId': member.id}) }}">Me retirer de la discussion</a><br>
                    {% endif %}
                    <br>
                {% endfor %}
                {% if is_granted('add_member', discussion) %}
                    <a href="{{ path('private_discussion_add_member', {'slug': discussion.slug}) }}" class="btn btn-default">Ajouter un membre</a><br>
                {% endif %}
            </div>
            {% if is_granted('edit', discussion) %}
                <div id="administration" class="tab-pane fade">
                    <a href="{{ path('private_discussion_edit', {'slug': discussion.slug}) }}">Éditer la discussion</a><br>
                    {% if discussion.locked %}
                        <a href="{{ path('private_discussion_unlock', {'slug': discussion.slug}) }}">Dévérouiller la discussion</a><br>
                    {% else %}
                        <a href="{{ path('private_discussion_lock', {'slug': discussion.slug}) }}">Vérouiller la discussion</a><br>
                    {% endif %}
                    <a href="{{ path('private_discussion_delete', {'slug': discussion.slug}) }}">Supprimer la discussion</a><br>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock page_content %}

{% block javascript %}
    {{ parent() }}
{% endblock javascript %}
