{% extends '::layout.html.twig' %}

{% block content %}
    <div class="proposal-header">
        <div>
            Version archivée | proposition <a href="{{ path('proposal_show', {'slug': oldProposal.recordedProposal.slug}) }}">{{ oldProposal.recordedProposal.title }}</a>
        </div>
        <div class="proposal-title">
            {{ oldProposal.oldTitle }}
        </div>
        <div class="old-proposal-header">
            auteur : {{ oldProposal.oldAuthor.username }}<br>
            date de la version : {{ oldProposal.snapDate|date('d/m/Y') }}
        </div>
        <div class="section-abstract row">
            {{ oldProposal.oldAbstract }}
        </div>
        <div>
            {% if is_granted('not_first_version', oldProposal) %}
                <a href="{{ path('old_proposal_previous_version', {'slug': oldProposal.slug}) }}" class="btn btn-default">Version précédente</a>
            {% endif %}

            <a href="{{ path('old_proposal_next_version', {'slug': oldProposal.slug}) }}" class="btn btn-default">Version suivante</a>
        </div>
    </div>
    <div>
        {{ oldProposal.oldMotivation | markdown }}
    </div>
{% endblock content %}
