{% extends '::layout.html.twig' %}

{% block content %}
    <div class="section-header row">
        <div class="section-header-menu col-md-12 col-xs-12">
            {% if is_granted('ROLE_USER') %}
                <div class="btn-group custom-btn-group ">
                    <button class="dropdown-toggle btn btn-default" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down"></span></button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="{{ path('public_discussion_add_to_proposal', {'slug': proposal.slug}) }}">Ouvrir une discussion</a></li>
                        {% if is_granted('edit', proposal) %}
                            <li><a href="{{ path('proposal_edit', {'slug': proposal.slug}) }}">Éditer</a></li>
                            <li><a href="{{ path('article_add', {'proposalSlug': proposal.slug}) }}">Ajouter un article</a></li>
                        {% endif %}
                        {% if is_granted('author', proposal) and not proposal.isPublished %}
                            <li><a href="{{ path('proposal_publish', {'slug': proposal.slug}) }}">Publier cette proposition</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('proposal_delete', {'slug': proposal.slug}) }}">Supprimer cette proposition</a></li>
                        {% endif %}
                        {% if proposal.isPublished %}
                            {% if is_granted('neutral', proposal) %}
                                <li><a href="{{ path('proposal_support', {'slug': proposal.slug}) }}">Soutenir cette proposition</a></li>
                                <li><a href="{{ path('proposal_oppose', {'slug': proposal.slug}) }}">S'opposer à cette proposition</a></li>
                            {% elseif is_granted('supporter', proposal) %}
                                <li><a href="{{ path('proposal_removesupport', {'slug': proposal.slug}) }}">Ne plus soutenir cette proposition</a></li>

                            {% elseif is_granted('opponent', proposal) %}
                                <li><a href="{{ path('proposal_removeoppose', {'slug': proposal.slug}) }}">Ne plus s'opposer à cette proposition</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="proposal-header">
            <div>
                proposition
                {% if proposal.isPublished %}
                    | thématique <a href="{{ path('theme_show', {'slug': proposal.theme.slug}) }}">{{ proposal.theme.title }}</a><br>
                {% else %}
                    non-publiée<br>
                {% endif %}
            </div>
            <div class="proposal-title">
                {{ proposal.title }}
            </div>
            <div>
                {% if proposal.isAWiki %}
                    Tout utilisateur peut éditer cette proposition
                {% else %}
                    auteur : {{ proposal.author }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="section-abstract row">
        <div class="col-md-10 col-md-offset-1">
            {{ proposal.abstract }}
        </div>
    </div>

    {% block page_content %}{% endblock page_content %}
{% endblock content %}
