{% extends '::layout.html.twig' %}

{% block content %}
    <div class="section-header row">
        <div class="section-path row">
            <ul>
                <li><a href="{{ path('roots') }}">Arbre</a></li>
                {% for parent in proposal.theme.parents %}
                    <li>></li>
                    <li><a href="{{ path('theme_show_proposals', {'slug': parent.slug}) }}">{{ parent.title }}</a></li>
                {% endfor %}
                <li>></li>
                <li><a href="{{ path('theme_show_proposals', {'slug': proposal.theme.slug}) }}">{{ proposal.theme.title }}</a></li>
                <li>></li>
                <li><a href="{{ path('proposal_show_motivation', {'slug': proposal.slug}) }}">{{ proposal.title }}</a></li>
            </ul>
        </div>
        {% if is_granted('ROLE_USER') and is_granted('published', proposal) %}
            <div class="section-header-menu col-md-12 col-xs-12">
                {% if is_granted('neutral', proposal) %}
                    <div class="col-md-1 col-md-offset-10">
                        <a href="{{ path('proposal_support', {'slug': proposal.slug}) }}" class="btn btn-default custom-btn" title="Soutenir cette proposition"><i class="icofont icofont-thumbs-up"></i></a>
                    </div>
                    <div class="col-md-1">
                        <a href="{{ path('proposal_oppose', {'slug': proposal.slug}) }}" class="btn btn-default custom-btn" title="S'opposer à cette proposition"><i class="icofont icofont-thumbs-down"></i></a>
                    </div>
                {% elseif is_granted('supporter', proposal) %}
                    <div class="col-md-1 col-md-offset-10">
                        <a href="{{ path('proposal_removesupport', {'slug': proposal.slug}) }}" class="btn btn-default custom-inverse-btn" title="Ne plus soutenir cette proposition"><i class="icofont icofont-thumbs-up"></i></a>
                    </div>
                {% elseif is_granted('opponent', proposal) %}
                    <div class="col-md-1 col-md-offset-10">
                        <a href="{{ path('proposal_removeoppose', {'slug': proposal.slug}) }}" class="btn btn-default custom-inverse-btn" title="Ne plus s'opposer à cette proposition"><i class="icofont icofont-thumbs-down"></i></a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="proposal-header">
            <div>
                proposition #{{ proposal.id }}<br>
            </div>
            <div class="proposal-title">
                {{ proposal.title }}
            </div>
        </div>
        {% if is_granted('locked', proposal) %}
            <div class="center">
                CETTE PROPOSITION EST FERMÉE
            </div>
            <hr>
            <div class="center">
                {{ proposal.lockingExplanation }}
            </div>
            <hr>
        {% endif %}
    </div>

    {% block page_content %}{% endblock page_content %}
{% endblock content %}
