{% extends '::layout.html.twig' %}

{% block content %}
    <div class="section-header row">
        <div class="section-path row">
            <ul>
                <li><a href="{{ path('roots') }}">Arbre</a></li>
                {% for parent in article.proposal.theme.parents %}
                    <li>></li>
                    <li><a href="{{ path('theme_show', {'slug': parent.slug}) }}">{{ parent.title }}</a></li>
                {% endfor %}
                <li>></li>
                <li><a href="{{ path('theme_show', {'slug': article.proposal.theme.slug}) }}">{{ article.proposal.theme.title }}</a></li>
                <li>>></li>
                <li><a href="{{ path('proposal_show', {'slug': article.proposal.slug}) }}">{{ article.proposal.title }}</a></li>
                <li>></li>
                <li><a href="{{ path('article_show', {'slug': article.slug}) }}">article {{ article.number }}</a></li>
            </ul>
        </div>
        <div class="article-header">
            <div>
                proposition #{{ article.proposal.id }} <a href="{{ path('proposal_show', {'slug': article.proposal.slug}) }}">{{ article.proposal.title }}</a><br>
            </div>
            <div class="article-title">
                Article {{ article.number }}<br>
                {{ article.title }}
            </div>
        </div>
    </div>

    {% block page_content %}{% endblock page_content %}
{% endblock content %}
