{% extends 'ProposalVersion/layout_proposal_version.html.twig' %}

{% block page_content %}
    <div class="proposal-version-motivation">
        <h3>Motifs</h3>
        {{ proposalVersion.motivation | markdown }}
    </div>
    <div class="proposal-version-articles">
        {% for articleVersion in proposalVersion.articleVersions %}
            <h3>Article {{ articleVersion.number }} <br> {{ articleVersion.title }}</h3>
            <p>{{ articleVersion.content | markdown }}</p>
            <div class="article-motivation">
                <h4>Motifs</h4>
                <p>{{ articleVersion.motivation | markdown }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock page_content %}
