{% extends 'Article/layout_article.html.twig' %}

{% block page_content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Ouvrir une discussion</h2>
        </div>
    </div>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="form-group row">
            <div class="col-md-10 col-md-offset-2">
                {{ form_errors(form) }}
                {{ form_errors(form.title) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.title, 'Title', {'label_attr': {'class': 'control-label col-md-2'}}) }}
            <div class="col-md-10">
                {{ form_widget(form.title, {'attr': {
                    'class'       : 'form-control',
                    'placeholder' : 'Your title must not exceed 40 characters'
                    }})
                }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2 col-md-offset-2">
                {{ form_widget(form.save, {'label': 'Save', 'attr': {'class': 'btn btn-default custom-btn'}}) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock page_content %}
