{% extends '::layout.html.twig' %}

{% block page_content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <h1>Changement d'administrateur de la discussion<br><span class="italic">{{ discussion.title }}</span></h1>
                </div>
            </div>

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <div class="form-group row">
                    <div class="col-md-10 col-md-offset-2">
                        {{ form_errors(form) }}
                        {{ form_errors(form.admin) }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form_label(form.admin, 'Nouvel administrateur', {'label_attr': {'class': 'control-label col-md-2'}}) }}
                    <div class="col-md-10">
                        {{ form_widget(form.admin, {'attr': {
                            'class'       : 'form-control',
                            }})
                        }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2 col-md-offset-2">
                        {{ form_widget(form.save, {'label': 'Enregistrer', 'attr': {'class': 'btn btn-default custom-btn'}}) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock page_content %}
