{% extends 'Discussion/layout_public_discussion.html.twig' %}

{% block page_content %}
    <div class="section-content">
        {% for post in discussion.posts %}
            <div class="post">
                <div class="post-header row">
                    <span class="col-md-2 col-md-offset-6 col-xs-2 col-xs-offset-6">{{ post.date|date('d/m/Y H:i') }}</span>
                    {% if is_granted('ROLE_ADMIN') %}
                        <span class="post-administration col-md-1 col-xs-1">
                            <a href="{{ path('post_move', {'id': post.id}) }}" class="post-admin-btn" title="Déplacer ce commentaire"><span class="glyphicon glyphicon-export"></span></a>
                            <a href="{{ path('post_delete', {'id': post.id}) }}" class="post-admin-btn" title="Supprimer ce commentaire"><span class="glyphicon glyphicon-remove"></span></a>
                        </span>
                    {% endif %}
                </div>
                <div class="post-content">
                    {{ post.content | markdown }}
                </div>
            </div>
        {% else %}
            <div>
                La discussion n'a pas encore débuté !
            </div>
        {% endfor %}

        {% if form is defined %}
            {{ form_start(form, {'attr': {'class': 'post-form'}}) }}
                {{ form_errors(form) }}
                <div class="form-group row">
                    {{ form_label(form.content, ' ', {'label_attr': {'class': 'control-label form-label'}}) }}
                    {{ form_errors(form.content) }}
                    {{ form_widget(form.content, {'attr': {
                        'class': 'form-control form-abstract-textarea',
                        'placeholder' : 'Your comment'
                        }})
                    }}
                </div>
                <div class="form-group row">
                    {{ form_widget(form.save, {'label': 'Send', 'attr': {'class': 'btn btn-default custom-btn'}}) }}
                </div>
            {{ form_end(form) }}
        {% endif %}
    </div>
{% endblock page_content %}

{% block javascript %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        new SimpleMDE({
            element: document.getElementById("edit_post_content"),
            spellChecker: false,
            status: false,
        });
    </script>
{% endblock javascript %}
