{% extends '::layout.html.twig' %}

{% block page_content %}
    <div class="row">
        <div class="row">
            <h1>Édition des motifs de la proposition<br><span class="italic">{{ proposal.title }}</span></h1>
        </div>

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="form-group row">
                {{ form_errors(form) }}
                {{ form_errors(form.motivation) }}
            </div>
            <div class="form-group row">
                 {{ form_widget(form.motivation, {'attr': {
                    'class': 'form-control form-abstract-textarea',
                    'placeholder' : 'Exposez ici les motifs de votre proposition'
                    }})
                 }}
            </div>
            <div class="form-group row">
                {{ form_widget(form.save, {'label': 'Enregistrer', 'attr': {'class': 'btn btn-default custom-btn'}}) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock page_content %}

{% block javascript %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        new SimpleMDE({
            element: document.getElementById("edit_motivation_proposal_motivation"),
            spellChecker: false,
            status: false,
        });
    </script>
{% endblock javascript %}
