{% extends 'Proposal/layout_proposal.html.twig' %}

{% block page_content %}
    <div class="section-menu row">
        <ul>
            <li class="active"><a data-toggle="tab" href="#motivation">Motifs</a></li>
            <li><a data-toggle="tab" href="#articles">Articles</a></li>
            <li><a data-toggle="tab" href="#discussions">Salon</a></li>
            <li><a data-toggle="tab" href="#versioning">Historique</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a data-toggle="tab" href="#administration">Administration</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="tab-content">
        <div id="motivation" class="tab-pane fade in active">
            {% if is_granted('edit', proposal) %}
                <div class="col-md-3 col-md-offset-9">
                    <a href="{{ path('proposal_edit', {'slug': proposal.slug}) }}" class="btn btn-default custom-btn">Éditer la proposition</a>
                </div>
            {% endif %}
            <div class="proposal-motivation">
                {{ proposal.motivation | markdown }}
            </div>
        </div>
        <div id="articles" class="tab-pane fade">
            {% if is_granted('edit', proposal) %}
                <div class="col-md-3 col-md-offset-9">
                    <a href="{{ path('article_add', {'proposalSlug': proposal.slug}) }}" class="btn btn-default custom-btn">Ajouter un article</a>
                </div>
            {% endif %}
            <div class="proposal-articles">
                {% for article in proposal.articles %}
                    <h4><a href="{{ path('article_show', {'slug': article.slug}) }}" class="article-link">Article {{ article.number }}<br>{{ article.title }}</a></h4>
                    <p>{{ article.content | markdown }}</p>
                    <div class="article-motivation">
                        {% if article.motivation %}
                            <h4>Motifs</h4>
                            {{ article.motivation | markdown }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="discussions" class="tab-pane fade">
            <div class="col-md-3 col-md-offset-9">
                <a href="{{ path('public_discussion_add_to_proposal', {'slug': proposal.slug}) }}" class="btn btn-default custom-btn">Ouvrir une discussion</a>
            </div>
            <table class="table">
                {% if not proposal.discussions is empty %}
                    <thead>
                        <tr>
                            <th>Discussion</th>
                            <th>Dernier commentaire</th>
                        </tr>
                    </thead>
                {% endif %}
                <tbody>
                    {% for discussion in proposal.discussions %}
                        <tr>
                            <td><a href="{{ path('public_discussion_show', {'slug': discussion.slug}) }}" class="table-link">{{ discussion.title }}</a></td>
                            {% if discussion.posts is empty %}
                                <td>Vide</td>
                            {% else %}
                                <td>{{ discussion.lastPost.date|date('d/m/Y à  H:i')}} par {{ discussion.lastPost.author.username }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="versioning" class="tab-pane fade">
            <div class="subsection-content col-md-10 col-xs-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Version</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proposalVersion in proposal.versioning %}
                            <tr>
                                <td><a href="{{ path('proposal_version_show', {'slug': proposalVersion.slug}) }}" class="table-link">Version {{ proposalVersion.versionNumber }}</a></td>
                                <td>{{ proposalVersion.snapDate|date('d/m/Y à  H:i')}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2 col-xs-2">
                Date de création : {{ proposal.creationDate|date('d/m/Y') }}<br><br>
                Date de dernière modification : {{ proposal.lastEditDate|date('d/m/Y') }}<br><br>
                Version actuelle : {{ proposal.versionNumber }}
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div id="administration" class="tab-pane fade">
                <div class="col-md-3 col-md-offset-9">
                    <a href="{{ path('proposal_move', {'slug': proposal.slug}) }}" class="btn btn-default custom-admin-btn">Déplacer la proposition</a>
                </div>
                <div class="col-md-3 col-md-offset-9">
                    <a href="{{ path('proposal_lock', {'slug': proposal.slug}) }}" class="btn btn-default custom-admin-btn">Vérouiller la proposition</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock page_content %}
