{% extends '::layout.html.twig' %}

{% block page_content %}

    <h1>{{proposal.title}}</h1>

    {% if proposal.webPath is empty %}
        <img src="{{ asset('img/science128.png') }}" class="marginAuto">
    {% else %}
        <img src="{{ asset(proposal.webPath) }}" class="marginAuto">
    {% endif %}

    Classée dans la thématique : <a href="{{ path('theme_show', {'slug': proposal.theme.slug}) }}">{{proposal.theme.title}}</a><br>
    Date de création : {{ proposal.creationDate|date('d/m/Y') }}<br>
    Date de dernière modification : {{ proposal.editDate|date('d/m/Y') }}<br>
    Auteur principal : {{ proposal.mainAuthor }}<br>
    {% if proposal.isPublic %}
        Proposition publique !<br>
    {% endif %}
    Abstract : {{ proposal.abstract }}

    <h2>Soutien(s)</h2>
        {% if is_granted('neutral', proposal) %}
            <a href="{{ path('proposal_support', {'slug': proposal.slug}) }}" class="btn btn-default">Soutenir cette proposition</a>
        {% elseif is_granted('supporter', proposal) %}
            <a href="{{ path('proposal_removesupport', {'slug': proposal.slug}) }}" class="btn btn-default">Ne plus soutenir cette proposition</a>
        {% endif %}

    <p>
        {% if proposal.supportiveUsers is empty %}
            <p>Cette proposition n'a pas de soutien</p>
        {% else%}
            {% for user in proposal.supportiveUsers %}
                {{ user }}
            {% endfor %}
        {% endif %}
    </p>

    <h2>Contestataire(s)</h2>
        {% if is_granted('neutral', proposal) %}
            <a href="{{ path('proposal_oppose', {'slug': proposal.slug}) }}" class="btn btn-default">Contester cette proposition</a>
        {% elseif is_granted('opponent', proposal) %}
            <a href="{{ path('proposal_removeoppose', {'slug': proposal.slug}) }}" class="btn btn-default">Ne plus contester cette proposition</a>
        {% endif %}

    <p>
        {% if proposal.opposedUsers is empty %}
            <p>Cette proposition n'a pas de contestataire</p>
        {% else%}
            {% for user in proposal.opposedUsers %}
                {{ user }}
            {% endfor %}
        {% endif %}
    </p>

    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#content">Contenu</a></li>
            <li><a data-toggle="tab" href="#discussion">Discussions</a></li>
            <li><a data-toggle="tab" href="#history">Historique</a></li>
            {% if is_granted('edit', proposal) %}
                <li><a data-toggle="tab" href="#administration">Administration</a></li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div id="content" class="tab-pane fade in active">
                <h2>Contenu</h2>
                {{ proposal.content }}
            </div>
            <div id="discussion" class="tab-pane fade">
                <h2>Discussions</h2>
                {% for discussion in proposal.discussions %}
                    <a href="{{ path('public_discussion_show', {'slug': discussion.slug}) }}">{{ discussion.title }}</a><br>
                {% else %}
                    <p>Pas de discussion !</p>
                {% endfor %}
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('public_discussion_add_proposal', {'slug': proposal.slug}) }}">Ouvrir une discussion</a>
                {% endif %}
            </div>
            <div id="history" class="tab-pane fade">
                <h2>Historique</h2>
                <p>Version actuelle : {{ proposal.versionNumber }}</p>

                {% for version in proposal.versions %}
                    <p>
                        <a href="{{ path('proposalversion_show', {'slug': version.slug}) }}"> version {{ version.versionNumber }}</a> par {{ version.modifyingAuthor.username }} {{ version.date|date('d/m/Y') }}<br>
                    </p>
                {% else %}
                    <p>Pas d'historique !</p>
                {% endfor %}
            </div>
            {% if is_granted('edit', proposal) %}
                <div id="administration" class="tab-pane fade">
                    <h2>Administration</h2>
                    <a href="{{ path('proposal_edit', {'slug': proposal.slug}) }}">Modifier cette proposition</a><br>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('proposal_delete', {'slug': proposal.slug}) }}">Supprimer cette proposition</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock page_content %}

{% block javascript %}
    {{ parent() }}
{% endblock javascript %}
